@media only screen and (max-width: 700px) {
    .feed-card{
        width: 450px !important; 
    }
}

@media only screen and (max-width: 470px) {
    .feed-card{
        width: 90vw!important; 
    }
    .media-container{
        height: 300px !important;
    }
    .post-date{
        font-size: .75em;
    }
    .post-title{
        font-size: 1em;
    }
    .description{
        font-size: 0.7em;
    }
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

#main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#main-title{
    margin: 10px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 3% 3% 3% 4%;
}

#main-title{
    padding: 1%;
    font-size: 3rem;
}

#feed{
    display: flex;
    gap: 5vw;
    flex-direction:column;
    align-items: center;
}

.media-container{
    height: 450px;
}

img{
    height: 100%;
    width: 100%;
}

.feed-card{
    border-radius: 16px;
    box-shadow: 0px 0px 26px 5px rgb(0 0 0 / 9%);
    width: 530px;
}

.heart-icon{
    height: 1.3em;
    width: 1.3em;
    margin: 5px 0px 5px 0px
}

.description{
    word-wrap: break-word;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 14px;
}

.post-footer{
    padding: 0 2% 0 2%;
    margin: 5px 0px 10px 0px;
}

.post-date{
    color: grey;
}

.like-container{
    display: flex;
    align-items: center;
    gap: 1%;
}

.error-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-wrap: break-word;
}

iframe{
    height: 100%;
    width: 100%;
}

.error-card{
    height: 30vh;
    margin: 50px;
}

.error-text{
    text-align: center;
}
