@media only screen and (min-width: 1700px) {
    .feed-card{
        width: 600px !important; 
    }
    #main-logo{
        width: 300px !important;
    }
    .media-container{
        height: 550px !important;
    }
    .description{
        font-size: 1.1em !important;
    }
    .post-title{
        font-size: 1.3em !important;
    }
    .post-date{
        font-size: 1em !important;
    }
    .like-container{
        font-size: 1.2em !important;
    }
}

@media only screen and (max-width: 700px) {
    .feed-card{
        width: 450px !important; 
    }
    #main-logo{
        width: 200px !important;
    }
    .media-container{
        height: 400px !important;
    }
    .like-container{
        font-size: 0.95em !important;
    }
    
}

@media only screen and (max-width: 500px) {
    .feed-card{
        width: 90vw!important; 
    }
    .media-container{
        height: 350px !important;
    }
    .post-date{
        font-size: .7em !important;
    }
    .post-title{
        font-size: 0.9em !important;
    }
    .description{
        font-size: 0.8em !important;
    }
}

@media only screen and (max-width: 400px) {
    #main-logo{
        width: 180px !important;
    }
    .media-container{
        height: 300px !important;
    }
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 1vw 2vw 1vw 2vw;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 3% 3% 3% 4%;
}

#main-logo{
    overflow: visible;
    width: 300px;
    cursor: pointer;
}

#main-content{
    position: absolute;
    width: 100%;
    margin-top: 20px;
}

#feed{
    display: flex;
    gap: 5vw;
    flex-direction:column;
    align-items: center;
}

.media-container{
    height: 450px;
}

img{
    height: 100%;
    width: 100%;
}

.feed-card{
    border-radius: 16px;
    box-shadow: 0px 0px 26px 5px rgb(0 0 0 / 9%);
    width: 530px;
}

.heart-icon{
    height: 1.3em;
    width: 1.3em;
    margin: 5px 0px 5px 0px
}

.description{
    word-wrap: break-word;
    line-height: 1.4em;
    font-weight: 500;
    font-size: 14px;
}

.post-footer{
    padding: 0 2% 0 2%;
    margin: 5px 0px 10px 0px;
}

.post-date{
    color: grey;
}

.like-container{
    display: flex;
    align-items: center;
    gap: 1%;
}

.error-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    word-wrap: break-word;
}

iframe{
    height: 100%;
    width: 100%;
}

.error-card{
    height: 30vh;
    margin: 50px;
}

.error-text{
    text-align: center;
}

.page-btn{
    height: 1.7em;
    width: 1.7em;
    background-color: unset;
}

.loading-animation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.orbit{
    display: flex;
    width: 150px;
    padding: 10px;
    animation: spin 1.3s infinite linear;
}

.rocket{
    width: 15%;
    position: absolute;
    height: 25%;
    left: 115px;
    transform: rotate(145deg);
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
    
}

.earth{
    animation: antispin 1.3s infinite linear;
}

@keyframes antispin {
    100%{
        transform: rotate(-360deg);
    }
}

.search-overlay-container{
    z-index: 1;
    position: fixed;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: auto;
    top: 0;
}

.pop-up{
    position: absolute;
    z-index: 3;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    border: 3px solid black;
    height: auto;
}

.date-time-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.enter-date-text{
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.search-btn{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

button{
    cursor: pointer;
}

.search-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.date-input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.close-btn-container{
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
}

.close-btn{
    font-size: 30px;
    background-color: unset;
}

.pop-up-back{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(105,105,105,0.65);
}

#liked-photo-logo{

}

#liked-photo-button{
    background-color: unset;
}